*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("/css/image/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /*width: 100%;*/
}

.totalFrame{

    width: 100%;
    height: 100vh;
    /*position: absolute;*/
    /*background-color: aqua;*/
}

#headImg{
    /*min-width: 50px;*/
    width: 150px;
    height: 150px;
    border: 1px purple;
    border-radius: 50%;
    overflow: hidden;

    position: relative;
    left: 50%;
    transform: translate(-50%);

}

.frame{
    width: auto;
    position: relative;
    top: 25%;
    /*left: 15%;*/
}

/*搜索栏*/
.parent{
    width: 380px;
    height: 40px;

    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    /*padding-left: 20px;*/
    background-color: rgba(0, 15, 255, 0.49);

    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

}
.search{
    width: 300px;
    height: 40px;
    outline: none;
    border: none;
    color: #cccccc;
    background-color: rgba(0, 15, 255, 0);
    /*position: absolute;*/
    float: left;
    /*transform: translate(-50%,-50%);*/
}

.btn{
    height: 35px;
    width: 35px;

    /*background: image("image/search.jpg");*/
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    /*background-color: aqua;*/
    /*transform: translate(-50%,-50%);*/
}
.list{
    margin-top: 0;
    list-style: none;
    width: 500px;
    height: auto;

    position:absolute;
    border-radius: 10px;
    /*margin-left: 20px;*/
    /*background-color: rgba(252, 252, 252, 0.62);*/
}
.list ul{
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    /*transform: translate(-50%);*/
}
.list ul li{
    list-style: none;
    width: 125px;
    height: 75px;
    border-radius: 20px;
    background-color: rgba(180, 180, 180, 0.87);
    border: rgba(255, 255, 255, 0.49) solid 2px;
    /*transform: translate(-50%);*/

    margin: 0 0 0 25px;
    position: relative;
    text-align: center;
}
.list ul li img{
    top:50%;
    position: relative;
    transform: translate(0,-50%);
}
.list ul li:hover{
    background-color: rgba(0, 15, 255, 0.49);
    animation: linear;
}

.containHead{
    width: 200px;
    height: 250px;

    /*background-color: purple;*/

    /*left: 10%;*/
    margin:0 0 0 15% ;
}

.text{
    margin-left: 10%;
    margin-top: 0;
    font-family: youyuan;
    color: #cccccc;
    font-size: 25px;
}
